<!-- views/index.ejs -->
<!doctype html>
<html lang="en">

  <head>
    <title>Countdown</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Styles-->
    <link href="/index.css" rel="stylesheet" type="text/css">

    <!--Fonts!-->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Bold" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>

  <body>
    <main role="main">

      <div class="container">

        <div class="center-align title">
          <h1>Countdown</h1>
          <a href="/login" class="waves-effect waves-light btn-small green darken-2"><i class="material-icons left">account_circle</i>Login</a>
          <a href="/signup" class="waves-effect waves-light btn-small green darken-2"><i class="material-icons left">create</i>Signup</a>
        </div>

      </div>

    </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
  <footer role="contentinfo">
    <p>Created by David Alim</p>
    <a href="https://github.com/spartanindc/countdown">Github Repo</a>
  </footer>

</html>
