<!-- views/index.ejs -->
<!doctype html>
<html lang="en">

  <head>
    <title>Countdown</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Styles-->
    <link href="/index.css" rel="stylesheet" type="text/css">

    <!--Fonts!-->
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Carme" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="utf-8">

    <!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="shortcut icon" href="favicon.ico" />

  </head>

  <body>
    <main role="main">

      <div class="container">

        <div class="center-align title">
          <h1>Countdown</h1>
          <p>We all have certain dates that we are looking forward to.  Movie or
             game releases, holidays, your significant other's birthday.
            What we don't always have is a quick way to see how much time is
            left until those date arrive at a glance.</p>

            <p>
            Enter Countdown, where you can create a countdown for any date and
            a flipping countdown clock will be generated to help you keep track
            of those dates you are most anticipating.</p>
            <a href="/signup" class="waves-effect waves-light btn-small green darken-2"><i class="material-icons left">create</i>Signup</a>
          <a href="/login" class="waves-effect waves-light btn-small green darken-2"><i class="material-icons left">account_circle</i>Login</a>

        </div>

      </div>

    </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
  <footer role="contentinfo">
    <p>Created by David Alim</p><a href="https://github.com/spartanindc/countdown">Github Repo</a>
  </footer>

</html>
