<!-- views/signup.ejs -->
<!doctype html lang="en">
<html>
  <head>
      <title>Countdown Signup</title>

      <!--Icons-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

      <!--Styles-->
      <link href="/index.css" rel="stylesheet" type="text/css">
      
      <!--Fonts-->
      <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Bold" rel="stylesheet">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="container">

          <h1>Signup</h1>

          <!-- show any messages that come back with authentication -->
          <% if (message.length > 0) { %>
              <div class="alert alert-danger"><%= message %></div>
          <% } %>

          <!-- LOGIN FORM -->
          <form action="/signup" method="post">
              <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="input-field" name="email">
              </div>
              <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="input-field" name="password">
              </div>

              <button type="submit" class="btn green darken-2"><i class="material-icons left">create</i>Signup</button>
          </form>

          <br>

          <p>Already have an account? <a href="/login">Login</a></p>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
